<!-- Search form -->
<div class="row card border-card">
  <!--  HEADEER --->
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">QUESTIONS</h3>
    <h2 class="u-heading-font u-text u-text-2">PROYECTOS RECIENTES</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>
  <!-- /HEADER -->
    {{> errors}}

  <div class="tm-main row justify-content-md-center margin-x-0">

    <div class="col-md-10">
      <div class="row">
        <div class="answer-container col-md-8">
          <div class="answer-header row">
            <div class="answer-title col-md-8">
              <h1 class=""> {{question.title}} </h1>
            </div>
            <div class="answer-header-right col-md-4">
              <div class="answer-header-reward">
                <div class="reward-price">
                  <i class="fas fa-dollar-sign"></i>
                  {{question.reward_offered}}
                  USD
                </div>
                <span class="answer-header-time">
                  <i class="fas fa-hourglass-half"></i>   Asked {{formatDate question.createdAt}}
                </span>
              </div>
            </div>
          </div>
          <div class="answer-body">
            <div class="answer-body-description">
              {{{question.description}}}
            </div>
            <div class="answer-body-tags">
              <div class="answer-body-tags-title">

                <div class="row text-align-center">
                  <div class="col-md-12 margin-bottom-10px">
                    <span class="title-tags-question">
                      <i class="fas fa-tags"></i>
                      Tags</span>
                  </div>
                  <div class="col-md-12">
                    {{#each question.tags}}
                    <span class="tagspan-answer">{{this}}</span>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 profile-answer">
          <div class="profile-answer-header">
            <h1>About The Client</h1>
          </div>
          <div class="profile-answer-body">
            <div class="profile-question-info profile-country">
              <i class="fas fa-map-marker-alt"></i>
              {{userallInfo.country_birth}}
            </div>
            <div class="profile-question-info profile-allquestions">
              <i class="fas fa-question-circle"></i>
              {{countLength userallInfo.user_questions}} Questions asked
            </div>
            <div class="profile-question-info profile-questions-paid">
              <i class="fas fa-comment-dollar"></i>
              {{countQuestionEnabled userallInfo.user_questions}} Questions enabled
            </div>
            <div class="profile-question-info profile-allquestions-likes">
              <i class="fas fa-comment-dots"></i>
              {{countLength userallInfo.user_answers}} Questions answered
            </div>
          </div>
        </div>

      </div>
      <div class="row">
      <div class="answer-do-container col-md-8">
          <form action="/questions/doanswer/{{question.id}}?_method=PUT" method="POST">
             <input type ="hidden" name ="_method" value="PUT">
        <textarea  class="trumbowyg-textarea" name="new_answer" required="required"></textarea>
         <button class="button-main-1 mt-5" type="submit"> Save </button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>

