<!-- Search form -->
<div class="row card border-card">
  <!--  HEADEER --->
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">QUESTIONS</h3>
    <h2 class="u-heading-font u-text u-text-2">MY QUESTIONS</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>
  <!-- /HEADER -->

  <div class="tm-main row justify-content-md-center margin-x-0">

    <div class="col-md-10">
      <!-- pregunta -->
      <div class="row mt-5">
        <div class="answer-container col-md-8">
          <div class="answer-header row">
            <div class="answer-title col-md-8">
              <h1 class=""> {{question.title}} </h1>
            </div>
            <div class="answer-header-right col-md-4">
              <div class="answer-header-reward">
                <div class="reward-price">
                  <i class="fas fa-dollar-sign"></i>
                  {{question.reward_offered}}
                  USD
                </div>
                <span class="answer-header-time">
                  <i class="fas fa-hourglass-half"></i>
                 Asked {{formatDate question.createdAt}}
                </span>
              </div>
            </div>
          </div>
          <div class="answer-body">
            <div class="answer-body-description">
              {{{question.description}}}
            </div>
            <div class="answer-body-tags">
              <div class="answer-body-tags-title">

                <div class="row text-align-center">
                  <div class="col-md-12 margin-bottom-10px">
                    <span class="title-tags-question">
                      <i class="fas fa-tags"></i>
                      Tags</span>
                  </div>
                  <div class="col-md-12">
                    {{#each question.tags}}
                    <span class="tagspan-answer">{{this}}</span>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 profile-answer">
          <div class="profile-answer-header">
            <h1>About The Client</h1>
          </div>
          <div class="profile-answer-body">
            <div class="profile-question-info profile-country">
              <i class="fas fa-map-marker-alt"></i>
              Chile
            </div>
            <div class="profile-question-info profile-allquestions">
              <i class="fas fa-question-circle"></i>
              5 Questions Asked
            </div>
            <div class="profile-question-info profile-questions-paid">
              <i class="fas fa-money-bill-alt"></i>
              3 Questions answered
            </div>
            <div class="profile-question-info profile-allquestions-likes">
              <i class="fas fa-thumbs-up"></i>
              100 likes in all his questions
            </div>
          </div>
        </div>

      </div>
      <!-- respuestas -->
      {{#each answers}}
      <div class="answer-own-question col-md-12">
        <div class="answer-own-question-header">
          {{#each user_info}}
          <div class="header-title row">

            <div class="col-lg-12">
              <div class="header-name">
                {{name}}
              </div>
              <div class="header-short_describe">
                {{short_describe}}
              </div>
              <div class="header-short_features">

              </div>
            </div>

          </div>
          <div class="body-answer-not-check">
            <div class="row">
              <!-- descripción de la respuesta -->
              <div class="col-md-7 answer-describe">
                {{{../answer}}}
              </div>
              <!-- ratings -->
              <div class="col-md-4  row rating-block2">
                <!-- rating block --->
                <div class="col-md-12">
                  <div class="rating-block">
                    <h4>Give It a Rating!</h4>
                    <div class="stars-content ">
                      <div class="star-source">
                        <svg>
                          <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                            <stop stop-color="#FFCC00" offset="0%"></stop>
                            <stop stop-color="#FFCC00" offset="60%"></stop>
                            <stop stop-color="#FFCC00" offset="100%"></stop>
                          </linearGradient>
                          <symbol id="star" viewBox="153 89 106 108">
                            <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor"
                              points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085">
                            </polygon>
                          </symbol>
                        </svg>

                      </div>
                  
                        {{#RatingEnabled ../rating_by }}
                        <!-- en el caso que aun no le haya puesto nota -->
                        <div class="stars-content">

                          <div class="">
                            {{#isGreater
                            (ratingUserAVG
                            ../answerRating.star1
                            ../answerRating.star2
                            ../answerRating.star3
                            ../answerRating.star4
                            ../answerRating.star5
                            )
                            1
                            }}
                            <i class="fontawesome-icons fas fa-star star-success" aria-hidden="true"></i>
                            {{else}}
                            <i class="fontawesome-icons fas fa-star star-notsuccess" aria-hidden="true"></i>
                            {{/isGreater}}

                          </div>
                          <div class="">
                            {{#isGreater
                            (ratingUserAVG
                            ../answerRating.star1
                            ../answerRating.star2
                            ../answerRating.star3
                            ../answerRating.star4
                            ../answerRating.star5
                            )
                            2
                            }}
                            <i class="fontawesome-icons fas fa-star star-success" aria-hidden="true"></i>
                            {{else}}
                            <i class="fontawesome-icons fas fa-star star-notsuccess" aria-hidden="true"></i>
                            {{/isGreater}}

                          </div>
                          <div class="">
                            {{#isGreater
                            (ratingUserAVG
                            ../answerRating.star1
                            ../answerRating.star2
                            ../answerRating.star3
                            ../answerRating.star4
                            ../answerRating.star5
                            )
                            3
                            }}
                            <i class="fontawesome-icons fas fa-star star-success" aria-hidden="true"></i>
                            {{else}}
                            <i class="fontawesome-icons fas fa-star star-notsuccess" aria-hidden="true"></i>
                            {{/isGreater}}

                          </div>
                          <div class="">
                            {{#isGreater
                            (ratingUserAVG
                            ../answerRating.star1
                            ../answerRating.star2
                            ../answerRating.star3
                            ../answerRating.star4
                            ../answerRating.star5
                            )
                            4
                            }}
                            <i class="fontawesome-icons fas fa-star star-success" aria-hidden="true"></i>
                            {{else}}
                            <i class="fontawesome-icons fas fa-star star-notsuccess" aria-hidden="true"></i>
                            {{/isGreater}}

                          </div>
                          <div class="">
                            {{#isGreater
                            (ratingUserAVG
                            ../answerRating.star1
                            ../answerRating.star2
                            ../answerRating.star3
                            ../answerRating.star4
                            ../answerRating.star5
                            )
                            5
                            }}
                            <i class="fontawesome-icons fas fa-star star-success" aria-hidden="true"></i>
                            {{else}}
                            <i class="fontawesome-icons fas fa-star star-notsuccess" aria-hidden="true"></i>
                            {{/isGreater}}

                          </div>
                        </div>
                        {{else}}
                            <div class="star-container ">
                        <!-- en el caso que ya le haya puesto la nota -->
                        <input type="radio" name="star" id="5_{{../_id}}"
                          onClick="addRatingAnswerAjax({{json ../_id}}, 5)">
                        <label for="5_{{../_id}}">
                          <svg class="star">
                            <use xlink:href="#star" />
                          </svg>
                        </label>
                        <input type="radio" name="star" id="4_{{ ../_id}}"
                          onClick="addRatingAnswerAjax({{json ../_id}}, 4)">
                        <label for="4_{{../_id}}">
                          <svg class="star">
                            <use xlink:href="#star" />
                          </svg>
                        </label>
                        <input type="radio" name="star" id="3_{{ ../_id}}"
                          onClick="addRatingAnswerAjax({{json ../_id}}, 3)">
                        <label for="3_{{../_id}}">
                          <svg class="star">
                            <use xlink:href="#star" />
                          </svg>
                        </label>
                        <input type="radio" name="star" id="2_{{../_id}}"
                          onClick="addRatingAnswerAjax({{json ../_id}}, 2)">
                        <label for="2_{{../_id}}">
                          <svg class="star">
                            <use xlink:href="#star" />
                          </svg>
                        </label>
                        <input type="radio" name="star" id="1_{{../_id}}"
                          onClick="addRatingAnswerAjax({{json ../_id}}, 1)">
                        <label for="1_{{../_id}}">
                          <svg class="star">
                            <use xlink:href="#star" />
                          </svg>
                        </label>
                        </div>
                        {{/RatingEnabled}}
                    </div>
                  </div>
                </div>
                <!-- rating breakdown -->
                <div class="col-md-12 rating-breakdown">
                  <h4>Rating breakdown</h4>
                  <div class="rating-bar-answer">
                    <div class="" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">5
                        <i class="fontawesome-icons fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                          aria-valuemax="5" style="width: 1000%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="float-right" style="margin-left:10px;">{{#ifExist answerRating.star5}} {{answerRating.star5}} {{else}} 0 {{/ifExist}} </div>
                  </div>
                  <div class="rating-bar-answer">
                    <div class="" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">4
                        <i class="fontawesome-icons fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0"
                          aria-valuemax="5" style="width: 80%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="float-right" style="margin-left:10px;">{{#ifExist answerRating.star4}} {{answerRating.star4}} {{else}} 0 {{/ifExist}} </div>
                  </div>
                  <div class="rating-bar-answer">
                    <div class="" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">3
                        <i class="fontawesome-icons fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                          aria-valuemax="5" style="width: 60%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="float-right" style="margin-left:10px;">{{#ifExist answerRating.star3}} {{answerRating.star3}} {{else}} 0 {{/ifExist}} </div>
                  </div>
                  <div class="rating-bar-answer">
                    <div class="" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">2
                        <i class="fontawesome-icons fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0"
                          aria-valuemax="5" style="width: 40%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                   <div class="float-right" style="margin-left:10px;">{{#ifExist answerRating.star2}} {{answerRating.star2}} {{else}} 0 {{/ifExist}} </div>
                  </div>
                  <div class="rating-bar-answer">
                    <div class="" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">1
                        <i class="fontawesome-icons fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0"
                          aria-valuemax="5" style="width: 20%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                   <div class="float-right" style="margin-left:10px;">{{#ifExist answerRating.star1}} {{answerRating.star1}} {{else}} 0 {{/ifExist}} </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /container -->
          {{/each}}
        </div>
        {{#if ../question.best_answer_chosen }}
        {{else}}
        <div class="button-see-answer2 ">
          <a href="/paypal/payanswer/{{_id}}"> <button class="button-see-answer2 button-best-answer"> This is the best Answer!
            </button></a>
        </div>
        {{/if}}

      </div>
      {{/each}}
    </div>
  </div>
</div>